{% extends 'base.html.twig' %}

{% block title %}LINKOLVIN ADMINISTRACION
{% endblock %}

{% block body %}
	{% if 'ROLE_ADMIN' in app.user.getroles(true) %}
		<h1>LINKOLVIN ADMINISTRACIÓN</h1>
		{% if app.user %}
			Sessión iniciada como:
			{{ app.user.email }}

		{% endif %}
		<br>
		<br>
		<div>
			<a href="{{ path('oferta_index')}}">Peticiones de oferta</a>
		</div>
		<br>
		<a href="{{ path('app_logout') }}">Cerrar sessión</a>

	{% endif %}
	{% if 'ROLE_COMPANY' in app.user.getroles(true) %}
		<h1>LINKOLVIN GESTIÓN DE TU EMPRESA</h1>
		{% if app.user %}
			Sessión iniciada como:
			{{ app.user.email }}

		{% endif %}
		<br>
		<br>
		<div>
			<a href="{{ path('oferta_new')}}">Crear nueva oferta</a>
			<br>
			<a href="{{ path('oferta_index')}}">Administración de tus ofertas</a>
		</div>
		<br>
		<a href="{{ path('app_logout') }}">Cerrar sessión</a>
	{% endif %}
{% endblock %}
